---
---
@import "jekflix";

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{
    padding-top: 0px;
}

.black{
    margin-top: 50px;
}

.black .box-item .box-body h2{
    color: #333 !important;
}

.black.flex-grid article {
    opacity: 1 !important;
}

.black .box-item .category a{
    color: #333 !important;
}

.box-item.card .box-body img{
    width: 20%;
}
// .box-item.card{
//     border: 1px solid #333;
// }

.box-item.card .box-body h2{
    margin: 0px;
}

.box-item.card .post-link{
    text-align: center;
}

.black .box-item .category .description{
    color: #989898 !important;

}

.black .box-item .box-body p{
    color: #989898 !important;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, sans-serif;
}

.centering{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-center{
    text-align: center;
}

.my-button{
    color: #FFF !important;
    background-color: #ff0a16;
    padding: 20px;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

.price-table{
    background: #FFF;
}

.price-red{
    color: #ff0a16;
    font-size: 25px;
}

.card table tr td{
    background: #FFF !important;
}

.box-item.feature .box-body img{
    width: 90%;
}

.feature a{
    width: fit-content !important;
}

.box-item.feature{
    min-height: 0px;
}

.small-icon{
    width: 32px;
}

a.line:hover{
    color: #00c300;
}

a.mya{
    color: #333;
}

a.facebook:hover{
    color: #3b5998;
}

@media (min-width: 1220px){
    .box-item.box-2 {
        max-width: calc(100%/2 - 30px);
    }
}
@media (min-width: 920px){
    .box-item.box-2 {
        max-width: calc(100%/2 - 30px);
    }
}

.mt-0{
    margin-top: 0px;
}

.text-red{
    color: #ff0a16;
}

.note{
    color: #989898;
}