---
layout: page
---

{% if site.email %}

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
  }
</style>

<div class="container">

  <h2>{{ site.translations.contact.title | default: "ติดต่อเรา" }}</h2>

  <section id="grid" class="row flex-grid black" >
    <article class="box-item box-2 feature">
        <div class="box-body">
            <img src="/assets/img/IMG_1159.JPG" data-url="/assets/img/IMG_1159.JPG" class="preload" alt="ระบบจัดการสต๊อค และออร์เดอร์แบบเรียลไทม์ ไม่จำกัดจำนวนผู้ใช้ จำนวนสินค้า และจำนวนออร์เดอร์">
        </div>
    </article>
    <article class="box-item box-2 feature">
        <div class="box-body">
            <div class="box-info">
                <p class="description">
                  Line: <a href="https://line.me/R/ti/p/humez" target="_blank" class="mya line">Humez</a>
                  Facebook: <a href="https://www.facebook.com/Noob-Studio-110220157236657/" target="_blank" class="mya facebook">Noob Studio</a>
                  Tel:
                  <a href="tel:082-414-6627" class="mya">082-414-6627</a>
                  Email:
                  <a href="mail:noob.studio101@gmail.com" class="mya mail">noob.studio101@gmail.com</a>
                </p>
            </div>
        </div>
    </article>
</section>

</div>

<script type="text/javascript">
function adjust_textarea(h) {
    h.style.height = "200px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>

<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.8"></script>
<script type="text/javascript">
Vue.use(VeeValidate);

const dictionary = {
  {{ site.translations.contact.errors.locale | default: 'en' }}: {
    custom: {
      name: {
        required: "{{ site.translations.contact.errors.empty_name | default: 'Name is required' }}"
      },
      email: {
        required: "{{ site.translations.contact.errors.empty_email | default: 'Email is required' }}",
        email: "{{ site.translations.contact.errors.invalid_email | default: 'Email is invalid' }}"
      },
      message: {
        required: "{{ site.translations.contact.errors.empty_message | default: 'Message is required' }}"
      }
    }
  }
};

VeeValidate.Validator.updateDictionary(dictionary);
VeeValidate.Validator.setLocale("{{ site.translations.contact.errors.locale | default: 'en' }}");

new Vue({
  el: '#form',
  delimiters: ['${', '}'],
  methods: {
    validateBeforeSubmit: function () {
      this.$validator.validateAll();
      if (!this.errors.any()) {
        this.$refs.contact.submit();
      }
    }
  }
});
</script>

{% else %}

<script>window.location = "{% if site.url == '' and site.baseurl == '' %}/{% else %}{{ site.url }}{{ site.baseurl }}{% endif %}";</script>

{% endif %}
